<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongzhi.data.mapper.CountryMapper">

    <select id="findList" resultType="com.zhongzhi.data.entity.Country">
        select id, `code`, `name`, `desc`, create_time  
        from country
        order by id
    </select>
</mapper>